/* login.component.css */

/* Styles for the login container */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Style for the login form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for form inputs */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the login button */
  button[type="submit"] {
    margin-top: 1%;
    padding: 10px 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  button[type="button"] {
    margin-top: 1%;
    padding: 5px 10px; /* Add padding to the button */
    border: none; /* Remove button border */
    border-radius: 3px; /* Round the button corners */
    background-color: #e43f3fc0; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer; /* Show a pointer cursor on hover */
  }

  button[type="button"]:hover {
    background-color: #9f6611;
  }
  
  
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
 

  
  