
<div class="client-list">
    <div class="main-header"> Hi User Welcome to Savkar Portal</div>
    <div class="cl-details"> Client Details
        <button (click)= "insertClient()" class="addClient">Add Client</button>
    </div>
    <div class="header">
      <div class="header-item">Name</div>
      <div class="header-item">Mobile</div>
      <div class="header-item">Amount</div>
      <!-- <div class="header-item">Date</div>
      <div class="header-item">Due Date</div> -->
    </div>
    <div class="client-items">
      <div class="client-item" *ngFor="let client of clients"(mouseenter)="client.isHovered = true" (mouseleave)="client.isHovered = false">
        <div class="client-data">{{ client.clName }}</div>
        <div class="client-data">{{ client.clMobile }}</div>
        <div class="client-data">{{ client.clAmount }}</div>
        <!-- <div class="client-data">{{ client.date }}</div>
        <div class="client-data">{{ client.user }}</div> -->
        <div *ngIf="client.isHovered" class="row-buttons">
            <!-- <button (click)="editClient(client)">Edit</button> -->
            <button (click)="deleteClient(client)" class="del">Delete</button>
          </div>
      </div>
    </div>
  </div>
  <p>Hi in clients page</p>
  