<div class="Del-POP">
   <div *ngIf="message1===undefined">
    <div *ngIf ="message">
    <h2>{{message}}<br>
        Delete Client !!</h2>
    </div>
    <div *ngIf="message === undefined ">
        <h2>
            Delete Client !!</h2>
        </div>
    <div class="button-container">
        <button (click)= "delete()" class="del">DELETE</button>
        <button (click)= "cancel()" class="cancel">CANCEL</button>
      </div>
    </div>
      <div *ngIf="message1=== 'register'">
        <h2> Success</h2>
        <div class="login-link">
            <span>Registered Successfully? <a href="/login">Login</a></span>
        </div>
        </div>
</div>